<li>
	{{name}}

	<button class="change-order" data-id="{{id}}" data-newburger="{{hungry}}">
		{{#if hungry}}Time to Eat!{{else}}barf!{{/if}}
	</button>

	<button class="delete-order" data-id="{{this.id}}">DELETE!</button>
</li>
