
<li>
	{{name}}

	<button class="change-appetite" data-id="{{id}}" data-newappetite="{{appetite}}">
		{{#if appetite}}food!!!!{{else}}throw away!{{/if}}
	</button>


	<button class="delete-burger" data-id="{{this.id}}">delete burger</button>
</li>
